streamlit
pandas
googletrans==4.0.0-rc1                       
numpy 
python-docx
requests
json5
pandas-profiling==3.2.0
Pillow
pytesseract==0.3.10
tabulate
opencv-python-headless
Pillow
fuzzywuzzy
openpyxl  
xlrd 
pdf2image
PyMuPDF
python-Levenshtein
freeglut3-dev
libgtk2.0-dev
libgl1-mesa-glx
libtesseract-dev
libtesseract4
tesseract-ocr
tesseract-ocr-eng
tesserocr
imutils
tesseract-ocr-all

