streamlit
pandas
googletrans==4.0.0-rc1  
pytesseract
openpyxl 
easyocr
xlrd                      
numpy 
python-docx
streamlit
pandas
requests
json5
streamlit-lottie
pandas-profiling==3.2.0
pdf2image
Pillow
pytesseract
fuzzywuzzy
tabulate
opencv-python-headless
pdf2image
Pillow
fuzzywuzzy
python-Levenshtein
streamlit-lottie
openpyxl  
xlrd 
pdf2image
PyMuPDF
python-Levenshtein
concurrent.futures
